<div class="card rounded-0">
  <div class="card-body">
    <h3 class="mb-4">Listing mentor groups</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @mentor_groups.each do |mentor_group| %>
          <tr>
            <td><%= link_to mentor_group.name, admin_mentor_group_path(mentor_group) %></td>
            <td>
              <%= link_to 'Show', admin_mentor_group_path(mentor_group), class: "btn btn-primary btn-sm rounded-0" %>
              <%= link_to 'Edit', edit_admin_mentor_group_path(mentor_group),class: "btn btn-secondary btn-sm rounded-0" %>
              <%= link_to 'Destroy', admin_mentor_group_path(mentor_group), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm rounded-0" %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Mentor Group', new_admin_mentor_group_path, class: "btn btn-primary rounded-0" %>
  </div>
</div>
