<%= form_for [:admin, tutor_program], html: { class: "user" } do |f| %>
  
  <%= render "partials/form_errors", object: tutor_program %>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :program %>
      <%= f.select :program_id, options_for_select(program_list, selected: tutor_program.program_id), { prompt: "Select a program" }, { class: "form-control rounded-0" } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :tutor %>
      <%= f.select :tutor_id, options_for_select(tutor_list, selected: tutor_program.tutor_id), { prompt: "Select a tutor" }, { class: "form-control rounded-0" } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary shadow rounded-0" %>
    <%= link_to 'Cancel', admin_tutor_programs_path, class: "btn btn-outline-secondary rounded-0" %>
  </div>

<% end %>
