<div class="card rounded-0 mt-2 mb-5">
  <div class="card-body">
    <h3 class="mb-4">Filter tutors</h3>
    <%= search_form_for @q, url: :admin_tutor_programs do |form| %>
      <div class="form-group row">
        <div class="col-md-6">
          <%= form.text_field :program_name_cont, class: "form-control rounded-0", placeholder: "Search by program" %>
        </div>
        <div class="col-md-6">
          <%= form.text_field :tutor_first_name_or_tutor_last_name_cont, class: "form-control rounded-0", placeholder: "Search by tutor" %>
        </div>
        <div class="col-md-4 mt-4">
          <%= submit_tag "Search", class: "btn btn-primary rounded-0" %>
          <%= link_to "Reset", admin_tutor_programs_path, class: "btn btn-secondary rounded-0" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
