<div class="card rounded-0">
  <div class="card-body">
    <h3 class="mb-4">Listing Participant Programs</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Program</th>
          <th>Participant</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @participant_programs.each do |participant_program| %>
          <tr>
            <td><%= link_to participant_program.program.name, admin_program_path(participant_program.program) %></td>
            <td><%= link_to participant_program.participant.name, admin_user_path(participant_program.participant) %></td>
            <td>
              <%= link_to 'Edit', edit_admin_participant_program_path(participant_program),class: "btn btn-secondary btn-sm rounded-0" %>
              <%= link_to 'Destroy', admin_participant_program_path(participant_program), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm rounded-0" %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Participant Program', new_admin_participant_program_path, class: "btn btn-primary rounded-0" %>

    <%= paginate @participant_programs %>

  </div>
</div>