<%= form_for [:admin, user], html: { class: "user" } do |f| %>
  
  <%= render "partials/form_errors", object: user %>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control rounded-0" %>
    </div>
    <div class="col-md-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control rounded-0" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :contact %>
      <%= f.text_field :contact, class: "form-control rounded-0" %>
    </div>
    <div class="col-md-6">
      <%= f.label :role %>
      <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}, {prompt: "Select Role"}, {class: "form-control rounded-0"}) %>
    </div>
  </div>

  <div class="form-group row" id="mentor_block" style="display:none;">
    <div class="col-md-6">
      <%= f.label :mentor %>
      <%= f.select :mentor_id, options_for_select(User.roled_users('mentor').map {|mentor| [mentor.name, mentor.id]}), {prompt: "Select Mentor"}, {class: "form-control rounded-0"} %>
    </div>
  </div>

  <div class="form-group row" id="mentor_group_block" style="display:none;">
    <div class="col-md-6">
      <%= f.label :mentor %>
      <%= f.select :mentor_group_id, options_for_select(mentor_group_list), {prompt: "Select Mentor Group"}, {class: "form-control rounded-0"} %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control rounded-0" %>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control rounded-0" %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.label :about_this_user %>
      <%= f.text_area :about, class: "form-control rounded-0", rows: "6" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary shadow rounded-0" %>
    <%= link_to 'Cancel', admin_users_path, class: "btn btn-outline-secondary rounded-0" %>
  </div>

<% end %>
